<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2 ">
    
    <form method="POST" action="/listings/<%= listingD._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="new mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" value="<%= listingD.title%>" class="form-control" required>
            <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="new mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required><%= listingD.description%></textarea>
            <div class="invalid-feedback">Please enter short description</div>
        </div>
        <div class="new mb-3">
         Original Image <br>
         <img src="<%=  originalImageUrl %>" >
        </div>
        <div class="new mb-3">
          <label for="image" class="form-label">Upload New Image</label>
         <input type="file" name="listing[image]" value="<%= listingD.image.url%>" class="form-control">
        </div>
        <div class="row">
            <div class="new mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]" value="<%= listingD.price%>" class="form-control" required>
                 <div class="invalid-feedback">Price should be valide</div>
            </div>
            <div class="new mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" value="<%= listingD.country%>" class="form-control" required>
                 <div class="invalid-feedback">Country name should be valid</div>
            </div>
        </div>
        <div class="new mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" value="<%= listingD.location%>" class="form-control" required> 
            <div class="invalid-feedback">Location should be valid</div>
        </div>
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
    </div>
    </div>
    
</body>
